@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Red+Hat+Text:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.about {
  font-size: xx-large;
  text-align: left;
  color: var(--light);
  padding: 30px;
  margin-top: 3rem;
}

.about h1 {
  font-size: 4rem;
  font-family: "Lobster", cursive;
  cursor: pointer;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  animation-delay: -1s;
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.name {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0492c2;
}
.about p {
  display: block;
  text-align: left;
  width: 20 rem;
  height: 5rem;
  margin-top: 3rem;
  font-family: "Red Hat Text", sans-serif;
}

.about p span {
  font-weight: 400;
}

.socials {
  position: relative;
  margin-top: 7rem;
  display: flex;
  justify-content: space-around;
}

.socials a {
  text-decoration: none;
  size: 2rem;
}

.icons {
  color: var(--light);
}

.icon-1:hover {
  color: #036aa2;
}

.icon-2:hover {
  color: rgb(25, 24, 24);
}

.icon-3:hover {
  color: #1da1f2;
}
