@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  /* margin-bottom: 1rem; */
}

.logo {
  font-family: "Anton", sans-serif;
  font-size: 45px;
}

.logo a {
  color: var(--light);
  text-decoration: none;
  margin-left: 20px;
}

.switch {
  background: transparent;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  border: none;
  color: var(--light);
}

.toggle {
  position: relative;
  margin-bottom: 10px;
}

#light {
  visibility: visible;
  position: relative;
}

#dark {
  visibility: hidden;
  position: absolute;
}
